*{
    margin: 0;
    padding: 0;
}
.main{
    height: 900px;
    width: 1200px;
    background-color: aqua;
    margin: auto;
    border:solid 2px black;
}

.header{
    height: 200px;
    width: 1200px;
    background-color: orange;
    border: solid 2px black;
}


.gallary{
    height: 400px;
    width: 1200px;
    background-color: blue;
    border: solid 2px black;
    
}
/* .information{ */
    height: 400px;
    width: 250px;
    background-color: magenta;
    border: solid 2px black;
}
/* .contant{ */
    height: 400px;
    width: 300px;
    background-color: chartreuse;
    border: solid 2px black;
    float: right;
}
.footer{
    height: 300px;
    width: 1200px;
    background-color: red;
    border: solid 2px black;
}