.main{
    height: 1150px;
    width: 100%;
    background-color: lightblue ;
}   

.header{
    height: 130px;
    width: 90%;
    margin: auto;
    background-color: aqua;
    border: solid 3px brown ;

}
.contant{
    
    height: 100px;
    width: 90%;
    margin: auto;
    background-color: gray;
    border: solid 3px orangered ;

}
.sidebar{
    height: 800px;
    width: 60%;
    background-color: green;
    /* border: solid 1px yellow ; */
    float: left;
    margin-left: 5%;

}
.Data{

    height: 800px;
    width: 30%;
    background-color:yellow ;
    /* border: solid 1px brown ; */
    margin-right: 5%;
    float: right;

}
.footer{

    height: 10%;
    width: 90%;
    background-color: orange;
    border: solid 3px black ;
    float: left;
    margin-left: 5%;
    
}